<%= render "search_form" %>

<% if @flight_search_results && @flight_search_results.size > 0 %>
  <h3>Search Result </h3>
  <%= form_with model: @booking, url: new_booking_path, method: :get do |b| %>
    <%= hidden_field_tag "number_of_passengers", @number_of_seats %>
    <%= b.collection_radio_buttons :flight_id, @flight_search_results, :id, :flight_detail do |bf|%>
      <%= bf.radio_button + bf.label %><br>
    <% end %>  
    <%= submit_tag "Book Flight" %>
  <% end %>
<% else %>
  <% if @flight_search_results && @flight_search_results.size == 0 %>
    <h3>Unfortunately, there are no flight on this day, please try another day! </h3>
  <% end %>
<% end %>
