<%= render "search_form" %>

<% if @flight_search_results && @flight_search_results.size > 0 %>
  <h3>Search Result </h3>
  <%= form_with model: @booking, url: new_booking_path, method: :get do |b| %>
    <%= hidden_field_tag "number_of_passengers", @number_of_seats %>
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <% @flight_search_results.each do |flight| %>
      <div>
        <%= b.radio_button(:flight_id, flight.id) %>
        <%= b.label(:flight_id, flight.flight_detail) %>
      </div>
    <% end %>    
    <%= b.submit "Book Flight" %>
  <% end %>
<% else %>
  <% if @flight_search_results && @flight_search_results.size == 0 %>
    <h3>Unfortunately, there are no flight on this day, please try another day! </h3>
  <% end %>
<% end %>
