<!DOCTYPE html>
<html>
  <head>
    <title>OdinFlightBooker</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= link_to "New Search", root_path %>
    <% if user_signed_in? %>   
      <%= link_to "My bookings", my_bookings_user_path(current_user) %>
      <%= link_to "Log out", destroy_user_session_path, method: :delete, data: { turbo_method: :delete } %>
    <% else %>
      <%= link_to "Sign in", new_user_session_path %>
    <% end %>
    <hr>
    
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
